Backend/scripts/images/
# Ignore specific large files
frontend/node_modules/@next/swc-linux-x64-gnu/next-swc.linux-x64-gnu.node
frontend/node_modules/@next/swc-linux-x64-musl/next-swc.linux-x64-musl.node
frontend/node_modules
node_modules/
frontend/.next