absl-py
accelerate
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyascii
async-timeout
attrs
audioread
babel
bangla
bitsandbytes
blinker
blis
bnnumerizer
bnunicodenormalizer
catalogue
certifi
cffi
charset-normalizer
click
cloudpathlib
cmake
confection
contourpy
coqpit
cycler
cymem
cython
dateparser
decorator
diffusers
docopt
dtw-python
einops
encodec
filelock
flask
flask-cors
fonttools
frozenlist
fsspec
g2pkk
grpcio
gruut
gruut-ipa
gruut-lang-de
gruut-lang-en
gruut-lang-es
gruut-lang-fr
hangul-romanize
huggingface-hub
idna
imageio
imageio-ffmpeg
importlib-metadata
importlib-resources
inflect
itsdangerous
jamo
jieba
jinja2
joblib
jsonlines
kiwisolver
langcodes
language-data
lazy-loader
librosa
lit
llvmlite
marisa-trie
markdown
markdown-it-py
markupsafe
matplotlib
mdurl
more-itertools
moviepy
mpmath
msgpack
multidict
murmurhash
networkx
nltk
num2words
numba
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
openai-whisper
packaging
pandas
pillow
platformdirs
pooch
preshed
proglog
protobuf
psutil
pycparser
pydantic
pydantic-core
pydub
pygments
pynndescent
pyparsing
pypinyin
pysbd
python-crfsuite
python-dateutil
pytz
pyyaml
regex
requests
rich
safetensors
scikit-learn
scipy
shellingham
six
smart-open
soundfile
soxr
spacy
spacy-legacy
spacy-loggers
srsly
sudachidict-core
sudachipy
sympy
tensorboard
tensorboard-data-server
thinc
threadpoolctl
tiktoken
tokenizers
tqdm
trainer
transformers
triton
tts
typeguard
typer
typing-extensions
tzlocal
umap-learn
unidecode
urllib3
wasabi
weasel
werkzeug
whisper-timestamped
wrapt
yarl
zipp